mat-card {
    display: flex;
    padding: 20px;
    background-color: #707070;

}

mat-card-header {
    justify-content: space-between;
    padding: 0;
    margin-bottom: 10px;
}

.close_button {
    border-radius: 5px;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

mat-card-subtitle {
    color: black;
}