mat-card {
    display: flex;
    padding: 20px;
    background-color: #424242;

    mat-card-header {
        justify-content: space-between;
        padding: 0;
        margin-bottom: 10px;

        .close_button {
            border-radius: 5px;
            background-color: #731010;
            color: white;
            cursor: pointer;
            transition: box-shadow 0.2s linear;
            box-shadow:
                -0.2px -0.2px 5px rgba(241, 238, 238, 0.6),
                0.2px -0.2px 5px rgba(241, 238, 238, 0.6),
                -0.2px 0.2px 5px rgba(241, 238, 238, 0.6),
                0.2px 0.2px 5px rgba(241, 238, 238, 0.6);

            &:hover {
                box-shadow:
                    -5px -5px 5px rgba(241, 238, 238, 0.6),
                    5px -5px 5px rgba(241, 238, 238, 0.6),
                    -5px 5px 5px rgba(241, 238, 238, 0.6),
                    5px 5px 5px rgba(241, 238, 238, 0.6);
            }
        }
    }

    mat-card-subtitle {
        color: #9E9E9E;
    }
}