.main-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;

    .welcome_title {
        padding: 20px;
        font-size: 10vh;
        text-align: center;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);

        span {
            color: black;
            animation: glow 4s ease-in-out infinite;
        }
    }

    .welcome_button {
        width: 30%;
        min-width: 300px;
        font-size: x-large;
        height: 50px;
        position: relative;
        overflow: hidden;

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 4px;
            width: 100%;
            background: linear-gradient(90deg, #616161, red, white, red, #616161);
            animation: slide 4s linear infinite;
        }

        &.login_button {
            margin-top: 1.3%;
        }
    }
}

@keyframes slide {
    0% {
        transform: translateX(-100%);
        opacity: 0.2;
    }

    100% {
        transform: translateX(100%);
        opacity: 0.7;
    }
}

@keyframes glow {

    0%,
    100% {
        text-shadow: -5px -5px 5px rgba(0, 0, 0, 0.2),
            5px -5px 5px rgba(0, 0, 0, 0.2),
            -5px 5px 5px rgba(0, 0, 0, 0.2),
            5px 5px 5px rgba(0, 0, 0, 0.2);
    }

    50% {
        text-shadow: -5px -5px 5px rgba(255, 0, 0, 0.6),
            5px -5px 5px rgba(255, 0, 0, 0.6),
            -5px 5px 5px rgba(255, 0, 0, 0.6),
            5px 5px 5px rgba(255, 0, 0, 0.6);
    }
}