.main-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.welcome_button {
    width: 30%;
    min-width: 300px;
    font-size: x-large;
    height: 50px;
}

.welcome_title {
    padding: 0 20px;
    font-size: 10vh;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.login_button {
    margin-top: 1.3%;
}