<mat-toolbar color="warn">
    <mat-toolbar-row>
        <span class="">myFlixx</span>
        <span class="spacer"></span>
        <mat-icon (click)="routeProfile()" class="icon" aria-hidden="false" aria-label="user icon">person</mat-icon>
        <mat-icon (click)="routeMovies()" class="icon" aria-hidden="false" aria-label="movies icon">theaters</mat-icon>
        <mat-icon (click)="logOut()" class="icon" aria-hidden="false" aria-label="logout icon">logout</mat-icon>
    </mat-toolbar-row>
</mat-toolbar>