<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>myFlixx</span>
        <span class="example-spacer"></span>
        <mat-icon (click)="routeProfile()" class="example-icon" aria-hidden="false"
            aria-label="Example delete icon">person</mat-icon>
        <mat-icon (click)="routeMovies()" class="example-icon" aria-hidden="false"
            aria-label="Example delete icon">theaters</mat-icon>
        <mat-icon (click)="logOut()" class="example-icon" aria-hidden="false"
            aria-label="Example heart icon">logout</mat-icon>

    </mat-toolbar-row>
</mat-toolbar>