<!-- Navbar component -->
<app-navigation-bar></app-navigation-bar>
<!-- Movie-Card component -->
<div class="movies_div">
    <div class="div_spinner">
        <mat-spinner *ngIf="isLoading" diameter="50" class="spinner"></mat-spinner>
    </div>

    <mat-card *ngFor="let movie of movies" class="movie_card">
        <mat-card-header>
            <mat-card-subtitle class="movie_directed">Directed by: {{movie.Director.Name}}</mat-card-subtitle>
            <mat-card-title>{{movie.Title}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image class="card_img" src={{movie.ImagePath}} alt={{movie.Title}} />
        <mat-card-actions class="movie_buttons">
            <button mat-button (click)="openGenreInfo(movie.Genre.Name, movie.Genre.Description )">
                Genre
            </button>
            <button mat-button
                (click)="openDirectorInfo(movie.Director.Name, movie.Director.Bio , movie.Director.Birth , movie.Director.Death)">
                Director
            </button>
            <button mat-button (click)="openMovieSynopsis(movie.Description)">
                Synopsis
            </button>
            <mat-icon class="fav-icon" (click)="toggleMovieInFavs(movie._id)">
                {{isMovieInFavs(movie._id) ? 'favorite' : 'favorite_border' }}
            </mat-icon>
        </mat-card-actions>
    </mat-card>
</div>