<!-- Navbar component -->
<app-navigation-bar></app-navigation-bar>
<!-- Movie-Card component -->
<div style="display: flex;" class="movies_div">
    <mat-card *ngFor="let movie of movies" style="flex: 1 1; margin: 10px;">
        <mat-card-header>
            <mat-card-title class="movie_text">{{movie.Title}}</mat-card-title>
            <mat-card-subtitle class="movie_text">Directed by: {{movie.Director.Name}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src={{movie.ImagePath}} alt={{movie.Title}}
            style="width: 240px; height: 350px; margin: auto;" />
        <mat-card-actions>
            <button mat-button color="primary" (click)="openGenreInfo(movie.Genre)">
                Genre
            </button>
            <button mat-button color="primary" (click)="openDirectorInfo(movie.Director)">
                Director
            </button>
            <!-- <button mat-button color="primary" (click)="openDirectorInfo(movie.Director)">
                Actors
            </button> -->
            <button mat-button color="primary" (click)="openMovieSynopsis(movie.Description)">
                Synopsis
            </button>
            <mat-icon class="fav-icon" (click)="toggleMovieInFavs(movie._id)">
                {{isMovieInFavs(movie._id) ? 'favorite' : 'favorite_border' }}
            </mat-icon>
        </mat-card-actions>
        <!-- <mat-card-footer>
            <mat-card-title class="movie_text">{{movie.Title}}</mat-card-title>
            <mat-card-subtitle class="movie_text">Directed by: {{movie.Director.Name}}</mat-card-subtitle>
        </mat-card-footer> -->
    </mat-card>
</div>