.fav-icon {
    //height & width so icon will be not cut off when change size 
    height: auto;
    width: auto;
    font-size: 30px;
    cursor: pointer;
}

.movie_directed {
    color: #707070;
}

.movies_div {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

mat-card-header {
    height: 22%;
    width: 250px;
}

.card_img {
    width: 300px;
    height: 430px;
    margin: auto;
}

.movie_card {
    margin: 15px;
    width: 300px;
    background-color: black;
}

.movie_buttons {
    justify-content: center;
}