.movies_div {
    margin-top: 60px;
    margin-left: 3.5%;
    margin-left: 3.5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .movie_card {
        margin: 15px;
        width: 280px;
        background-color: #1a0000;

        mat-card-header {
            height: 15%;
            width: 250px;

            .movie_directed {
                color: #9E9E9E;
            }
        }

        .card_img {
            height: 455px;
            max-width: 100%;
            margin: auto;
            overflow: visible;
            display: flex;
            transition: transform 0.5s linear;

            &:hover {
                transform: scale(1.1);
                border-radius: 5px;
            }
        }

        mat-card-actions button {
            color: #9E9E9E;
        }

        mat-card-actions .fav-icon {
            /* Set initial properties */
            height: auto;
            width: auto;

            font-size: 30px;
            cursor: pointer;
            transition: transform 0.2s linear;
            z-index: 999;

            &:hover {
                transform: scale(1.3);
            }
        }
    }
}