mat-card {
    text-align: center;
    display: flex;
    align-items: center;
    max-width: 400px;
    width: 100%;
    background-color: #707070;

    mat-card-header {
        padding: 0;
    }

    .form-input {
        width: 100%;
    }

    mat-card-actions {

        .login_button {
            margin-bottom: 15px;
            width: 15vw;
            font-size: medium;
        }
    }
}