<mat-card>
    <mat-card-header>
        <h2>Login</h2>
    </mat-card-header>
    <mat-card-content>
        <form (keydown.enter)="loginUser()">
            <mat-form-field class="form-input">
                <input matInput [(ngModel)]="userData.Username" placeholder="Username" type="text" name="Username"
                    required>
            </mat-form-field>
            <mat-form-field class="form-input">
                <input matInput [(ngModel)]="userData.Password" type="password" placeholder="Password" name="Password"
                    required>
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="loginUser()" color="primary" class="login_button">
            Log In
        </button>
        <p>
            New to myFlix? <a (click)="openUserRegistrationDialog()" style="cursor: pointer; color: white;">Signup!</a>
        </p>
    </mat-card-actions>
</mat-card>