.register_card {
    text-align: center;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;
    background-color: #424242;

    mat-card-header {
        padding: 0;
    }

    .form-input {
        width: 100%;

        .hint-wrong {
            color: red;
            font-weight: bold;
            font-size: small;
        }

        .hint-right {
            color: green;
            font-weight: bold;
            font-size: small;
        }

        .valid-form-field {
            color: green;
            font-weight: bold;
        }
    }

    mat-card-actions {
        display: flex;
        justify-content: space-between;
        /* Vertically align items */
        width: 96%;
        align-items: center;

        .register_button {
            margin-bottom: 15px;
            width: 8vw;
            min-width: 100px;
            font-size: medium;
            overflow: hidden;

            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                height: 4px;
                width: 100%;
                background: linear-gradient(90deg, #B71C1C, white, white, #B71C1C, );
                animation: slide 2s linear infinite;
            }
        }

        p {
            color: gray;
            padding-bottom: 15px;
            margin: 0;
        }
    }
}

.mat-mdc-text-field-wrapper {
    border: 2px solid green !important;
}

@keyframes slide {
    0% {
        transform: translateX(-100%);
        opacity: 0.2;
    }

    100% {
        transform: translateX(100%);
        opacity: 0.7;
    }
}