.user_profile_div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.profile {
    margin-top: 63px;

    .profile_left {
        width: 20%;
        min-width: 340px;
        margin: 1%;
        margin-bottom: 3%;
        align-items: center;
        background-color: #424242;

        .profile_icon {
            height: auto;
            width: auto;
            font-size: 200px;
            margin-bottom: 20px;
            color: black;
            border-radius: 10px;
        }

        mat-card-content .user_details {
            color: #C62828;
        }

        mat-card-content .user_info {
            color: #E0E0E0;
        }
    }

    .profile_right {
        width: 50%;
        min-width: 340px;
        margin: 1%;
        margin-bottom: 3%;
        background-color: #424242;

        .update_form {
            margin-bottom: 5px;
            display: flex;
            flex-direction: column;

            mat-hint {
                color: #E0E0E0;
            }
        }

        .update_button {
            margin: 5px;
            position: relative;
            overflow: hidden;

            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                height: 4px;
                width: 100%;
                background: linear-gradient(90deg, #B71C1C, white, white, #B71C1C, );
                animation: slide 2s linear infinite;
            }
        }
    }
}

.div_spinner {
    position: relative;
    text-align: center;
    top: 5%;
    width: 100%;
    // transform: translate(-50%, -50%);

    .spinner {
        color: red;
        display: inline-block;
    }
}

.mat-background-primary {
    --mat-tab-header-with-background-background-color: black;
    --mat-tab-header-with-background-foreground-color: #B71C1C;
}

.tab-content {
    .movie_card {
        margin: 15px;
        width: 280px;
        background-color: #290a0a;
        border: 1px solid #9E9E9E;

        .profile_fav_header {
            height: 20%;
            width: 240px;

            .movie_text {
                color: #707070;
            }
        }

        .card_img {
            height: 455px;
            max-width: 100%;
            margin: auto;
            overflow: visible;
            display: flex;
            transition: transform 0.5s linear;

            &:hover {
                transform: scale(1.1);
                border-radius: 5px;
            }
        }
    }

    .images_div {
        display: flex;
        align-items: center;
        flex-direction: column;

        .toupload_images_div {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding-top: 5px;
            padding-bottom: 10px;

            .upload_button {
                margin: 10px 0;
                position: relative;
                overflow: hidden;
                color: white;
                background-color: #290a0a;

                &::before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    height: 3px;
                    width: 100%;
                    background: linear-gradient(90deg, #290a0a, #B71C1C, #B71C1C, #290a0a);
                    animation: slide 2s linear infinite;
                }
            }
        }

        .uploaded_images_div {
            flex-wrap: wrap;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            margin: 5px;

            .single_image_div {
                display: flex;
                height: 220px;
                background-color: black;
                border: 1px solid #9E9E9E;
                margin: 10px;
                align-items: center;
                justify-content: center;
                border-radius: 4px;
            }
        }
    }
}

.fav_title {
    padding-top: 20px;
}

@keyframes slide {
    0% {
        transform: translateX(-100%);
        opacity: 0.2;
    }

    100% {
        transform: translateX(100%);
        opacity: 0.7;
    }
}