<!-- Navbar component -->
<app-navigation-bar></app-navigation-bar>
<!-- Profile component -->
<div class="user_profile_div profile">
    <mat-card class="profile_left">
        <mat-card-header>
            <h1>Profile User</h1>
        </mat-card-header>
        <mat-icon class="profile_icon">account_box</mat-icon>
        <mat-card-content style="display: flex;">
            <div style="margin-right: 5px;">
                <mat-card-subtitle class="user_info">Username: </mat-card-subtitle>
                <mat-card-subtitle class="user_info">E-Mail: </mat-card-subtitle>
                <mat-card-subtitle class="user_info">Birtday: </mat-card-subtitle>
            </div>
            <div>
                <mat-card-subtitle class="user_details">{{user.Username}}</mat-card-subtitle>
                <mat-card-subtitle class="user_details">{{user.Email}}</mat-card-subtitle>
                <mat-card-subtitle class="user_details">{{user.Birthday | date:'longDate' }}</mat-card-subtitle>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="profile_right">
        <mat-card-header>
            <h1>Update Details</h1>
        </mat-card-header>
        <mat-card-content>
            <form class="update_form">
                <mat-form-field>
                    <input matInput [(ngModel)]="updatedUser.Username" placeholder="Username" type="text"
                        name="Username" required>
                    <mat-hint align="start">Required field</mat-hint>
                </mat-form-field>
                <div style="margin-bottom: 10px;"></div>
                <mat-form-field>
                    <input matInput [(ngModel)]="updatedUser.Email" type="email" placeholder="Email" name="Email">
                    <mat-hint align="start">Opional field</mat-hint>
                </mat-form-field>
                <div style="margin-bottom: 10px;"></div>
                <mat-form-field>
                    <input matInput [(ngModel)]="updatedUser.Birthday" type="date" placeholder="Birthday"
                        name="Birthday">
                    <mat-hint align="start">Opional field</mat-hint>
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button class="update_button" mat-raised-button (click)="updateUserData()" color="primary">
                Update Profile
            </button>
            <button class="update_button" mat-raised-button (click)="deleteUser()" color="primary">
                Delete Profile
            </button>
        </mat-card-actions>
    </mat-card>
</div>
<h1 class="user_profile_div fav_title">Your Favorite Movies</h1>
<div class="div_spinner">
    <mat-spinner *ngIf="isLoading" diameter="50" class="spinner"></mat-spinner>
</div>
<div class="user_profile_div">
    <div class="div_spinner">
        <h3 *ngIf="noFavMoviesMessage">No movies here yet</h3>
    </div>
    <mat-card *ngFor="let movie of favMovies" class="movie_card">
        <mat-card-header class="profile_fav_header">
            <mat-card-title>{{movie.Title}}</mat-card-title>
            <mat-card-subtitle class="movie_text"><b>Directed by: </b>{{movie.Director.Name}}</mat-card-subtitle>
            <mat-card-subtitle class="movie_text"><b>Actors: </b>{{movie.Actors.join(', ')}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{movie.ImagePath}}" alt="{{movie.Title}}" class="card_img" />
    </mat-card>
</div>