.profile {
    margin-top: 63px;
    margin-bottom: 60px;
}

.profile_div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.profile_left {
    width: 20%;
    min-width: 340px;
    margin: 1%;
    align-items: center;
    background-color: #707070;
}

.profile_right {
    width: 50%;
    min-width: 340px;
    margin: 1%;
    background-color: #707070;
}

.profile_icon {
    height: auto;
    width: auto;
    font-size: 200px;
    margin-bottom: 20px;
}

.update_form {
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
}

.profile_fav_header {
    height: 20%;
    width: 240px;
}

.card_img {
    width: 300px;
    height: 430px;
    margin: auto;
}

.movie_card {
    margin: 15px;
    width: 300px;
    background-color: black;
}

.movie_text {
    color: #707070;
}

.update_button {
    margin: 5px;
}